/*---| .b-media |----------------------start----------------------------------------*/

@media screen and (max-width: 650px) {
  .b-promo-box__col {
    width: 100%;
    float: none;
  }

  .b-wrapper{
    width: auto;

  }

  .b-cnt__el {
    width: auto;
    float: none;
    margin-right: 0;
    height: auto;

  }

  .b-cnt__el-inner {
    padding-right: 10px;
    padding-left: 78px;
    padding-bottom: 20px;
  }

  .b-cnt__el-arrw {
    border-right: 2px solid #afaea6;
  }

  .b-cnt__el-arrw:before {
    display: none;
  }

  .b-cnt__el-arrw:after {
    background-size: contain;
    width: 50px;
    height: 40px;
    left: 5px;
    top: 20px;
  }



  .b-header__slog {
    display: none;
  }


  .b-box__form {
    width: auto;
  }

  .b-box__form-courier {
    width: auto;
  }

  .b-h-part__cnt {
    width: auto;
    top: 20px;
  }

  .b-h-part_curier .b-h-part__cnt {
    width: auto;
    top: 20px;
  }

  .b-info__col {
    float: none;
    width: auto;
  }

  .b-apps__phone {
    display: none;
  }

  .b-apps__txt {
    width: auto;
    padding-left: 0;
  }
  
  .b-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .b-wrapper {
    padding: 0 10px;
  }


  .b-control_type2 .b-contol__col-1 {
    width: auto;
    float: none;
  }

  .b-progress-txt {
    display: none;
  }

}

/*===| .b-media |======================end==========================================*/