/*---| .b-info |----------------------start----------------------------------------*/

.b-info {
  background: #ebeee6;
  .clearFix();
}

.b-info__col {
  float: left;
  width: 50%;
}

/*===| .b-info |======================end==========================================*/