/*---| .b-info |----------------------start----------------------------------------*/

.b-info {
  background: #e7ece0;
  .clearFix();
}

.b-info__h {
  font-size: 30px;
  line-height: 1;
  color: #414141;
  text-transform: uppercase;
  padding-top: 52px;
}

.b-info__col {
  float: left;
  width: 50%;
}


.b-info__list {
  margin-bottom: 20px;
}

/*===| .b-info |======================end==========================================*/