/*---| .b-button |----------------------start----------------------------------------*/

.b-button,
.b-button:visited ,
.b-button:hover {
  .reset();
  height: 47px;
  line-height: 47px;
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  .box-shadow(1px 1px #bbb);
  .border-radius(5px);
  background: #ff791d;
  padding: 0 22px;
  font-family: @Roboto;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

/*===| .b-button |======================end==========================================*/