.b-h-part {
  height: 331px;
  background: url("@{blockPath}/i-img/head-imgs/head-img-1.jpg") no-repeat center top;

}

.b-h-part__inner {
  position: relative;
}

.b-h-part__cnt {
  position: absolute;
  top: 93px;
  left: 0;
  width: 300px;
}

.b-h-part__title {
  font-size: 40px;
  color: #de5b01;
  line-height: 1;
  margin-bottom: 20px;
  font-family: @Roboto;
}

.b-h-part__txt {
  font-size: 24px;
}